body{
    background: rgba(0,0,0,0.9);
    color: #fff
}

table{
    text-align: center;
    color: #fff;
    font-size: 1em;
    border-spacing: 0;
    width: 100%;
}

td,th {
    padding: 0.5em;
    border: 1px solid #fff;
    background-color: slategray;
    border-collapse: collapse;
}

.files{
    margin: auto;
    display: block;
}

.subirArchivos{
    margin: auto;
}

.error{
    color: rgb(223, 80, 80);
}