body{
    background: rgba(0,0,0,0.9);
    color: #fff
}

table{
    text-align: center;
    color: #fff;
    font-size: 1em;
}

td {
    padding: 0.3em;
}

.files{
    margin: auto;
    display: block;
}

.error{
    color: rgb(223, 80, 80);
}